html, body{
    padding: 0;
    margin: 0;
}

body {
    background-color: #777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#topHeading {
    background: linear-gradient(black 90%, #777);
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 20px 0 20px 0;
}
#title {
    font-size: 40px;
}

table {
    width: 98%;
    margin: 1%;
}
td {
    height: 8vh;
    font-size: 30px;
    padding: 2.5px;
    text-align: center;
}

.gradeLabel, .gradeLabel2 {
    color: white;
    background-color: black;
    width: 50%;
}

.gradeLabel2 {
    font-size: 16px
}

input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    #topHeading {
        font-size: 12px;
        padding: 10px 0 10px 0;
    }
    #title {
        font-size: 24px;
    }
    .gradeLabel, .gradeLabel2 {
        font-size: 12px;
    }
    td {
        height: 5.5vh;
    }
    .optionText {
        font-size: 12px;
    }
}
