html, body{
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}
#topHeading {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 25px 0 25px 0;
}
#title {
    font-size: 40px;
}

table {
    width: 98%;
    margin: 1%;
}
td {
    height: 8vh;
    font-size: 30px;
    padding: 2.5px;
    text-align: center;
}

.gradeLabel, .gradeLabel2 {
    color: white;
    background-color: black;
    width: 50%;
}

.gradeLabel2 {
    font-size: 16px
}

input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    #topHeading {
        font-size: 12px;
    }
    #title {
        font-size: 24px;
    }
    .gradeLabel, .gradeLabel2 {
        font-size: 12px;
    }
    td {
        height: 5.5vh;
    }
}